body{
    height: 100vh;
    background:#434343 ;
    overflow-y: hidden;

    /* display: flex; */
}

h1,h4{
    color: #fff;
    text-transform: capitalize;
    margin-left: 150px;
}

h4{
    margin-left: 159px;
}

/* .line{
    width: 300px;
    height: 3px;
    background-color: #f4f4f4;
    position: absolute;
    top: 40%;
    right: 40%;
} */

/* .linebetween,.linebetween2{
    height: 100%;
    width: 3px;
    background-color: #f4f4f4f4;
    position: absolute;
    top: 0;
    right: 40%;
}

.linebetween2{
    right: 39.5%;
} */

.menubar i{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.largeimg-container{
    width: 60%;
    height: 400px;
    /* background-color:rgb(156, 156, 219) ; */

    transform: translateY(50%);

    overflow-x: auto;

    

}

.img{
   padding: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}
img{
   width: 150px;
   padding: 10px;

}

.show{
    width: 250px;
    border: 1px solid #333;
}
.show:hover{
    opacity: .9;
}

.smallimg-container{
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: rgb(124, 201, 218); */
    background: #403d3d;

    display: flex;
    justify-content: center;
   

    
}

.simg{
    display: grid;
    place-items:center ;
}

.dnone{
    display: none;
}

.smallimg{
    width: 90%;
    /* height: 90%; */
    margin: auto;

    display: block;

    /* position: absolute; */
}

.text{
    width: 400px;
  text-align: center;
  display: none;
}

.textblock{
    display: block;
}